@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    
}

.container{
    display: flex;
    align-items: center;
    height: 100vh;
}

.card{
    width: 400px;
    height: 650px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    margin: auto;
    flex-direction: column;

}

.imagem{
    height: 30%;
    width: 100%;
}

img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

h1{
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: #1f2f56;
    margin-top: 20px;
    font-weight: 900;
    font-size: 40px;
}

 p{
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: #1f2f56;
    font-weight: 800;
    padding: 20px;

}


.prices{
    margin: 40px 40px;
    height: 90px;
    background-color: #f5f7ff;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
}


.icon img{
    width: 60px;
    height: 60px;
}

.info_plan{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2f56;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    flex-direction: column;
}

.change:hover{
    text-decoration: underline;
    cursor: pointer;
}

.prices div:not(:last-child){
    margin-left: 10px;
}

.button_plan{
    display: flex;
    margin: auto;
    height: 40px;
    width: 60%;
}

button{
    width: 100%;
    background-color: #1f2f56;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button:hover{
    opacity: 0.9;
}











